.portfolio-dev {
    font-family: monospace;
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
}

@media (max-width: 930px) {
    .portfolio-dev {
        font-size: 9px;
    }
}

@media (max-width: 410px) {
    .portfolio-dev {
        font-size: 5px;
    }
}