.main-help {
    border: 2px solid white;
    height: 121px;
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
    text-align: left;
    overflow-y: auto;
    word-break: break-word;
    scrollbar-width: none;
}

.a-cl {
    text-decoration: underline;
}

.a-cl:hover {
    text-decoration: underline;
    color: #00E5FF;
}

@media (max-width: 930px) {
    .main-help {
        height: 166px;
    }
}