.main-terminal {
    border: 2px solid white;
    margin-bottom: 20px;
    height: 315px;
    text-align: left;
    font-family: monospace;
    font-size: 16px;
    padding: 10px;
    white-space: pre-wrap;
    overflow-y: auto;
    word-break: break-word;
    scrollbar-width: none;
}

.input-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.prompt {
    flex-shrink: 0;
}

input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    color: white;
    background-color: transparent;
    height: 24px;
    flex: 1;
    min-width: 0;
    font-family: monospace;
    font-size: 16px;
    caret-color: white;
}

.dc {
    font-weight: bold;
    color: #5555FF;
}

.gc {
    color: #39FF14;
}

.cw {
    color: #ff8a00;
}