.main-div {
    border: 2px solid white;
    padding: 10px 12px 10px 12px;
    font-size: 18px;
    font-family: monospace;
    width: 320px !important;
    justify-self: center !important;
}

.text-box {
    font-size: 16px;
}

@media (max-width: 375px) {
    .main-div {
        width: 260px !important;
    }
}

@media (max-width: 400px) {
    .text-box {
        font-size: 12px;
    }
}