.main {
    background-color: black;
    text-align: center;
    padding: 20px;
    gap: 20px;
    margin-left: 150px;
    margin-right: 150px;
    min-height: min-content;
}

@media (max-width: 767px) {
    .container-div {
        margin-top: 180px;
    }
}

@media (max-height: 885px) {
    .container-div {
        margin-top: 300px;
        margin-bottom: 300px;
    }
}