.main {
    background-color: black;
    text-align: center;
    padding: 20px;
    gap: 20px;
    margin-left: 150px;
    margin-right: 150px;
    min-height: min-content;
    margin-top: 50px;
}

@media (max-width: 767px) {
    .main {
        margin-top: 0;
    }
}